<div class="banner mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path("yhppoldddavlrf97xs1lvevcj071", height: 300, crop: :fill) %>');">
  <div class="container">
    <h1>Save any kind of movies</h1>
    <p>Classic</p>
  </div>
</div>

<div class="px-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>My lists</h1>

    <%= link_to 'Create a movie list', new_list_path, class: "btn btn-flat" %>
  </div>


  <div class="row">
    <% @lists.each do |list| %>
      <div class="co-12 colsm-6 col-md-4">
        <%= link_to list_path(list) do %>
          <div class="card-list mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? (cl_image_path list.photo.key) : 'https://resize-elle.ladmedia.fr/rcrop/1098,768/img/var/plain_site/storage/images/loisirs/cinema/dossiers/cinema-comment-l-industrie-culturelle-s-adapte-t-elle-au-scenario-catastrophe-du-coronavirus-3864417/93174471-1-fre-FR/Cinema-comment-l-industrie-culturelle-s-adapte-t-elle-au-scenario-catastrophe-du-coronavirus.jpg' %>)">
            <%= list.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>



